@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&family=Saira+Extra+Condensed:wght@200&display=swap');

.container_skills{
    margin-left: 280px;
    margin-top: -30px;
}

.container_skills p{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffbb33;
    text-align: center;
    margin-top: 20px;
    margin-left: -240px;
}

.container_icon1{
    width: 50px;
    height: 50px;
    margin-left: 55px;
    margin-top: -100px;
}

.container_icon1 svg{
    color: #000000;
    width: 100px;
    height: 100px;
}

.container_icon1 svg:hover{
    color: #ff4500;
    cursor: pointer;
}

.container_icon2{
    width: 50px;
    height: 50px;
    margin-left: 160px;
    margin-top: -50px;
}

.container_icon2 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon2 svg:hover{
    color: rgb(6, 121, 252);
    cursor: pointer;
}

.container_icon3{
    width: 50px;
    height: 50px;
    margin-left: 260px;
    margin-top: -50px;
}

.container_icon3 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon3 svg:hover{
    color: rgba(255, 255, 0, 0.9);
    cursor: pointer;
}

.container_icon4{
    width: 50px;
    height: 50px;
    margin-left: 360px;
    margin-top: -50px;
}

.container_icon4 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon4 svg:hover{
    color: rgb(0, 255, 255);
    cursor: pointer;
}

.container_icon5{
    width: 50px;
    height: 50px;
    margin-left: 460px;
    margin-top: -50px;
}

.container_icon5 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon5 svg:hover{
    color: rgb(9, 9, 129);
    cursor: pointer;
}

.container_icon6{
    width: 50px;
    height: 50px;
    margin-left: 560px;
    margin-top: -50px;
}

.container_icon6 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon6 svg:hover{
    color: rgb(101, 101, 236);
    cursor: pointer;
}

.container_icon7{
    width: 50px;
    height: 50px;
    margin-left: 660px;
    margin-top: -50px;
}

.container_icon7 svg{
    color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container_icon7 svg:hover{
    color: #ff4500;
    cursor: pointer;
}